footer .contact-form {
  width: 90%;
  margin: 0 auto;
}
footer .contact-form form .contact-title {
  font-size: 40px;
}
footer .contact-form .bg1 {
  margin: 5px;
  box-shadow: none;
}
footer .contact-form .bg1 input {
  padding: 5px;
  border-radius: 5px;
}