footer{
    .contact-form{
        width: 90%;
        margin: 0 auto;
        form{
            .contact-title{
                font-size: 40px;
            }
        }
        .bg1{
            margin: 5px;
            box-shadow: none;
            input{
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
}